{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <h2 class="h1 text-center mb-4">TodoList, l'application de tâches pas comme les autres&nbsp;!</h2>
    </header>

    <p class="lead text-center mb-5">Bienvenue sur TodoList, l'application vous permettant de gérer l'ensemble de vos tâches sans effort&nbsp;!</p>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="row">
            <div class="col">
                <a href="{{ path('task_create') }}" class="btn btn-success d-block">Créer une nouvelle tâche</a>
            </div>
            <div class="col">
                <a href="{{ path('task_list') }}" class="btn btn-info d-block">Consulter la liste des tâches à faire</a>
            </div>
            <div class="col">
                <a href="" class="btn btn-secondary d-block">Consulter la liste des tâches terminées</a>
            </div>
        </div>
    {% else %}

        <div class="text-center">
            <h3 class="h5 text-primary mb-4">
                Pas encore inscrit ? Créez-vous vite un compte pour commencer à gérer vos tâches.
            </h3>
            <a href="{{ path('login') }}" class="btn btn-outline-primary btn-lg">Se connecter</a>
            <a href="{{ path('app_register') }}" class="btn btn-outline-primary btn-lg">S'inscrire</a>
        </div>
    {% endif %}
{% endblock %}
