{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation | {{ parent() }}{% endblock %}

{% block body %}
    <header>
        <h2>Conditions d'utilisation</h2>
    </header>
{% endblock %}